{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="{% static 'css/navbar.css' %}" , rel = "stylesheet">
        <link href="{% static 'css/edit-employee.css' %}" rel = "stylesheet" >
        <link href="{% static 'icons/edit.svg' %}" rel = "icon" >
        <title id = "Title">update employee</title>
    </head>
    <body>
        <a href="{% url 'Main' %}">
            <img src = "{% static 'images/main page assets/H (1).png' %}" class = "logo">
        </a>
        <a href="{% url 'Main' %}">
            <p class = "contlogo">Human Resources</p>
        </a>
        <div class = "nav">
            <div class = "container" >
                <div class = "selection" id = "register">
                    <div class = "open"  >Register employee</div>
                </div>
                <div class = "selection" id = "edit">
                    <div class = "open" >Edit Employee</div>
                </div>
                <div class = "selection" id = "Vacations">
                    <div class = "open" >Vacations</div>
                </div>
                <div class = "selection" id = "searchForEmployee">
                    <div class = "open" >Search for employee</div>
                </div>
            </div>
        </div>
        <p class = "main-text text">Employees</p>
        <div class = "employee-list" id = "employee-list-id">
            <div class = "employee" id = "don't">
                <div class = "in-img">
                    <img src = "{% static 'images/search/user.png' %}" class = "user-icon">
                </div>
                <p >Name</p>
                <p >ID</p>
                <p >Salary</p>
                <p >Vacations</p>
                <p >Delete</p>
                <p class = "end">Update</p>
            </div>
            <footer id = "Footer"> 
                <p class = "copyRight">
                    Human Resources website © Copyright 2023 FCAI-CU. All rights reserved.
                </p>
            </footer>
        </div>
        <div class = "cover out"  id = "dialog" >
            <div class = "content">
                <p class = "text dialog-text">Are You Sure ?</p>
                <div class = "container-buttons">
                    <input type = "button" , value = "Yes" , class = "delete-btn function-btn button" id = "yes">
                    <input type = "button" , value = "No" , class = "edit-btn function-btn button" id = "no">
                </div>
            </div>
        </div>
    </body>
    <script>
        // Define a global JavaScript variable with the URL value
        let get = "{% url 'getEmployeeData' %}" ;
        let image = "{% static 'images/search/user.png' %}"
        let profile = "{% url 'profile' id=0 %}" ;
        let Delete = "{% url 'delete' %}"
        let Register = "{% url 'Register' %}" , edit = "{% url 'editEmployee' %}" , 
        vacation = "{% url 'Vacation' %}" , search = "{% url 'searchForEmployee' %}" ;
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src = "{% static 'js/data.js' %}"></script>
    <script src = "{% static 'js/nav bar.js' %}"></script>
    <script src = "{% static 'js/edit-employee-page.js' %}"></script>
</html>