{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="{% static 'css/main page.css' %}" rel = "stylesheet" >
        <link href="{% static 'css/navbar.css' %}" rel = "stylesheet" >
        <link href="{% static 'icons/main page.svg' %}" rel = "icon" >

        <title>Home page</title>
    </head>
    <body>
        <a href="{% url 'Main' %}">
            <img src = "{% static 'images/main page assets/H (1).png' %}" class = "logo">
        </a>
        <a href="{% url 'Main' %}">
            <p class = "contlogo">Human Resources</p>
        </a>
        <img src = "{% static 'images/main page assets/back.png' %}" class = "bg" id = "img1"> 
        <img class = "image1" src = "{% static 'images/main page assets/background.jpg' %}" id = "img2" >
        <p class = "font first position1">Welcome</p>
        <p class = "font second position2">IN Human Resource</p>
        <div class = "nav">
            <div class = "container" >
                <div class = "selection" id = "register">
                    <div class = "open"  >Register employee</div>
                </div>
                <div class = "selection" id = "edit">
                    <div class = "open" >Edit Employee</div>
                </div>
                <div class = "selection" id = "Vacations">
                    <div class = "open" >Vacations</div>
                </div>
                <div class = "selection" id = "searchForEmployee">
                    <div class = "open" >Search for employee</div>
                </div>
            </div>
        </div>
    </body>
    <script>
        let Register = "{% url 'Register' %}" , edit = "{% url 'editEmployee' %}" , 
        vacation = "{% url 'Vacation' %}" , search = "{% url 'searchForEmployee' %}" ;
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src = "{% static 'js/nav bar.js' %}"></script>
</html>