{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="{% static 'css/navbar.css'%}" rel = "stylesheet" >
        <link href="{% static 'css/input fields.css'%}" rel = "stylesheet">
        <link href="{% static 'css/register employee.css'%}" rel = "stylesheet" >
        <link href="{% static 'css/profile.css'%}" rel = "stylesheet" >
        <link href="{% static 'css/edit-employee.css'%}" rel = "stylesheet" >
        <link href="{% static 'icons/profile.svg' %}" rel = "icon" >

        <title id = "Title">data</title>
    </head>
    <body>
        <a href="{% url 'Main' %}">
            <img src = "{% static 'images/main page assets/H (1).png' %}" class = "logo">
        </a>
        <a href="{% url 'Main' %}">
            <p class = "contlogo">Human Resources</p>
        </a>
        <div class = "nav">
            <div class = "container" >
                <div class = "selection" id = "register">
                    <div class = "open"  >Register employee</div>
                </div>
                <div class = "selection" id = "edit">
                    <div class = "open" >Edit Employee</div>
                </div>
                <div class = "selection" id = "Vacations">
                    <div class = "open" >Vacations</div>
                </div>
                <div class = "selection" id = "searchForEmployee">
                    <div class = "open" >Search for employee</div>
                </div>
            </div>
        </div>
        <div class = "top-page">
            <p class = "text main-text">profile</p>
        </div>
        <form class = "form_register profile" id = "Register-form" action="main page.html">
            <div class = "collection">
                <label >Name</label>
                <input type="text" class = "input-Register input-profile" id = "name" placeholder="Name">
                <label >E-mail</label>
                <input type="email" class = "input-Register input-profile" id = "email" placeholder="E-mail">
            </div>
            <div class = "collection">
                <label >ID</label>
                <input type="text" class = "input-Register input-profile" id = "id" placeholder="ID">
                <label >phone</label>
                <input type="tel" class = "input-Register input-profile" id = "phone-number" placeholder="Phone-number">
            </div>
            <div class = "gen" id = "gender-field">
                <div class = "Radio close-margin" id = "radio">
                    <p class = "name-of-selection close-margin font">Gender</p>
                    <div class = "Radio-selection">
                        <div class = "btn" id = "male-btn">
                            <div class = "checked">
                            </div>
                        </div>
                        <input type = "radio" name = gender class = "Radio-btn" id = "male" >
                        <P class = "select select1">Male</P>
                    </div>
                    <div class = "Radio-selection">
                        <div class = "btn" id = "female-btn">
                            <div class = "checked">
                            </div>
                        </div>
                        <input type = "radio" name = gender class = "Radio-btn" id = "female" >
                        <P class = "select select2">Female</P>
                    </div>
                </div>
                <label class = "not-display" id = "not-filled"> You have to chose one ^_^ </label>
            </div>
            <div class = "collection test" >
                <label >Available Vacations</label>
                <input type="text" class = "input-Register input-profile" id = "available-vacations" placeholder="Available Vacations">
                <label >Approved Vacations</label>
                <input type="text" class = "input-Register input-profile" id = "actual-vacations" placeholder="Actual Vacations">
            </div>
            <div class = "collection" id = "toModify">
                <label >Marital status</label>
                <div class = "selection-register" id = "control-selections">
                    <div class = "Marital-selection" id = "employee-marital">
                        <p class = "Marital" id = "status">Marital</p>
                    </div>
                    <div class = "list" id = "Martial-list">
                        <a>married</a>
                        <a>divorced</a>
                        <a>widowed</a>
                        <a>never married</a>
                    </div>
                </div>
                <label id = "gender-label">Gender</label>
                <input type="text" class = "input-Register input-profile" id = "gender" placeholder="Gender">
            </div>
            <div class = "collection">
                <label >Salary</label>
                <input type="text" class = "input-Register input-profile" id = "salary" placeholder="Salary">
                <label></label>
                <div class = "format-class"></div>
            </div>
            <div class = "collection">
                <label >DOB</label>
                <input type = "date" class = "input-Register date" id = "date-of-birth" placeholder="your DOB">
                <label></label>
                <div class = "format-class"></div>
            </div>
            <div class = "btns">
                <input type = "button" class = "function-btn delete-btn" id = "delete-finish" value = "Delete">
                <input type = "button" class = "function-btn edit-btn" id = "confirm-finish" value = "Confirm">
                <input type = "button" class = "function-btn edit-btn" id = "update-finish" value = "Update">
            </div>
        </form> 
    </body>
    <script>
        let update = "{% url 'update' %}" 
        let employee = "{% url 'getEmployeeWithId' id=0 %}"
        let Delete = "{% url 'delete' %}"
        let main = "{% url 'Main' %}"
        let Register = "{% url 'Register' %}" , edit = "{% url 'editEmployee' %}" , 
        vacation = "{% url 'Vacation' %}" , search = "{% url 'searchForEmployee' %}" ;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src = "{% static 'js/data.js' %}"></script>
    <script src = "{% static 'js/nav bar.js' %}"></script>
    <script src = "{% static 'js/confirm.js' %}"></script>
    <script src = "{% static 'js/profile.js' %}"></script>
</html>