{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link href="{% static 'css/input fields.css' %}" rel="stylesheet" >
        <link href="{% static 'css/navbar.css' %}"  rel = "stylesheet">
        <link href="{% static 'css/edit-employee.css' %}" rel = "stylesheet" >
        <link href = "{% static 'css/vacation form.css' %}" rel = "stylesheet">
        <link href="{% static 'icons/vacations.svg' %}" rel = "icon" >

        <title>vacation form</title>
    </head>
    <body>
        <a href="{% url 'Main' %}">
            <img src = "{% static 'images/main page assets/H (1).png' %}" class = "logo">
        </a>
        <a href="{% url 'Main' %}">
            <p class = "contlogo">Human Resources</p>
        </a>
        <div class = "nav">
            <div class = "container" >
                <div class = "selection" id = "register">
                    <div class = "open"  >Register employee</div>
                </div>
                <div class = "selection" id = "edit">
                    <div class = "open" >Edit Employee</div>
                </div>
                <div class = "selection" id = "Vacations">
                    <div class = "open" >Vacations</div>
                </div>
                <div class = "selection" id = "searchForEmployee">
                    <div class = "open" >Search for employee</div>
                </div>
            </div>
        </div>
        <div class = "vacation-pos">
            <p class = "vacation text">Vacation Form</p>
        </div>
        <div class = "texts">
            <div class = "image-contain first">
                <img src = "{% static 'images/vacation form/user.png' %}" class = "user-image">
            </div>
            <div class = "duration-container">
                <label class = "form-label">From</label>
                <input type = "date" class = "text-vacation" placeholder="From" id = "from">
            </div>
            <div class = "duration-container">
                <label class = "form-label">To</label>
                <input type = "date" class = "text-vacation" placeholder="To" id = "to">
            </div>
            <div class = "duration-container">
                <label class = "form-label" id = "status">Status</label>
                <input type = "text" class = "text-vacation input" placeholder="id" id = "employee-id">
            </div>
            <textarea resize = "none" class = "text-area" placeholder="Reason" id = "reason"></textarea>
            <div class = "accept-btn-contains end">
                <label class = "disabled" id = "warn-message"></label>
                <p class = "accept-message"></p>
                <input class = "accept-btn" type="button" value = "Submit" id ="accept-btn">
            </div>
        </div>
    </body>
    <script>
        // Define a global JavaScript variable with the URL value
        let number = "{% url 'numberOfVacations' %}"
        let employeeVacations = "{% url 'numberOfEmployeeVacations' id=0 %}"
        let add = "{% url 'addVacations' %}"
        let getVacation = "{% url 'getVacationById' id=0 %}"
        let Register = "{% url 'Register' %}" , edit = "{% url 'editEmployee' %}" , 
        vacation = "{% url 'Vacation' %}" , search = "{% url 'searchForEmployee' %}" ;
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src = "{% static 'js/data.js' %}"></script>
    <script src = "{% static 'js/vacation form.js' %}"></script>
    <script src = "{% static 'js/nav bar.js' %}"></script>

</html>