.form_register { 
    display: flex ;
    flex-direction: column;
    row-gap: 4%;
    position: absolute;
    width: 45%;
    z-index: 1;
    height: 75%;
    top : 25% ;
    left : 37% ;
}
.first {
    padding-right: 0.68em;
    padding-left: 0.68em;
}
.second {
    padding-right: 0.68em;
}
.input-Register {
    text-indent: 15px;
    font-family: 'Raleway';
    cursor: text;
    font-weight: 600;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
    font-size: 1.5vw;
    width: 50%;
    height: 100%;
}
.input-Register::placeholder{
    cursor: text;
    color : #9b9b9b ;
    font-size: 1.5vw;
}

.collection {
    display: flex;
    height: 8%;
    column-gap: 5%;
}
.gen {
    height: 6%;
}
.move {
    margin-top: 3%;
    transition: 0.5s;
}
.Radio-btn {
    display: none;
    cursor: pointer;
}
.Radio-selection {
    cursor: pointer;
    display: flex; 
    width: 10vw; 
}
.btn {
    cursor: pointer;
    position: relative;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #ffffff;
    margin-right: 0.5vw;
    border-radius: 100%;
}
.Radio {
    font-family: "Raleway";
    font-weight: bold ;
    display: flex;
    margin-top: 0.4vw;
    margin-left: 0.4vw;
    column-gap: 2vw;
    width: 50%;
    line-height: 0%;
    cursor: pointer;
}
.select {
    text-align: center;
    position: relative;
    font-size: 1.5vw;
    margin-top: 0.85vw;
    margin-left: 0.7vw;
}
.select1 {
    color : #58a6cb ;
}
.select2 {
    color : #ae3ec2 ;
}
.name-of-selection {
    color : #1772c1 ;
    position: relative;
    width : 20% ;   
    font-size: 1.9vw ;
    margin-left: 0.2vw; 
    margin-top: 0.6vw; 
    margin-right: 2vw;
}
.Radio-selection:hover .btn {
    background-color: #6ea1cd;
}
.checked {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: #1772c1;
}
.submit-btn {
    cursor: pointer;
    position: relative;
    left: 32%;
    background-color: #1772c1;  
    font-size: 20px;
    width: 30%;
    margin-top: 6%;
    border-radius: 2vw;
    color : #ffffff ;
}
.submit-btn:hover {
    color :  #1772c1 ;
    background-color:#ffffff ;  
    transition: 0.5s;
}