.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
p {
    margin: 0;
}
.image1{
    position: absolute;
    right: 0px;
    top: 0px ;
    width: 55%;
    height: 100%;
}

.position1{
    position: absolute;
    left: 11%;
    top: 9% ;
}
.position2{
    position: absolute;
    left: 13%;
    top: 45% ;
}
.font {
    font-family: 'Raleway' ;
    text-shadow: -7px 7px 5px #879298;
    font-weight: bold;
}
.first {
    margin-top: 160px;
    margin-bottom: 160px;
    color : #deeaf0 ;
    font-size:11vw;
}
.second {
    margin-top: 60px ;
    margin-bottom: 60px ;
    color : #5e6b77 ;
    font-size: 4vw;
}
#search-list {
    top : 40px ;
}
