.profile {
    left : 5% ;
    width: 85%;
}
label {
    margin: auto;
    color : #1772c1 ;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 106%;
    width: 26%;
}
.btns {
    display: flex;
    width: 50%;
    height: 10%; 
    position: relative;
    left: 30%;
    column-gap: 1vw;
}
.bgw:hover {
    background-color:#ffffff ;
}
.selection-disable {
    cursor: text;
}
.disable {
    display : none ;
    
}
.disable a {
    display: none;
}
/*this class for the appearance of the form*/
.format-class {
    width: 50%;
    height: 100%;
}
.disabled {
    color : grey ;
}
.close-margin {
    margin-left: 0;
}
.font {
    width: 30%;
    font-size: 106%;
}