p {
    font-family: 'Raleway' ;
}
body {
    margin: 0 ;
}
.main_text {
    color : white ;
    margin: auto;
}
.contain-header {
    display : flex ;
    justify-content: center;
    position: absolute;
    top: 10% ;
    width: 100% ;
    height: 10%;
}
.header {
    background-color: #16537e;
    width: 20%;
    display: flex;
    font-size: calc(min(5vh , 5vw));
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    row-gap: 50px;
    width: 100%;
    position: absolute;
    top : 45% ;
    height : 55% ;
    left: 0;
}
.anchor-style {
    text-decoration: none;
    color : #ffffff ;
}
.text-in-card {
    margin: auto;
}
.card {
    display: flex;
    cursor: pointer;
    color : #ffffff ;
    background-color: #8fc2e8;
    width: 40%;
    height: 30% ;
    border-radius: 30px;
    text-align: center;
    font-size: calc(min(5vh , 5vw));

}
.card:hover{
    background-color: #1f90e5;
}
footer {
    margin-top: auto ;
    font-size: calc(min(2vh , 2vw));
    width: 100%;
    background-color: #417690;
    bottom: 0;
    color: rgba(0,0,0,.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.copyRight {
    position: relative;
    font-family: 'Raleway';
    color : white ;
}

@media screen and (max-width : 1260px)  {
    .header {
        width: 40%;
        font-size: calc(min(5vh , 6vw));
    }
    .card {
        width: 80%;
        height: 20%;
    }
}
