body {
    margin: 0;
    background-color: #cddee6;
}
.img {
    position: absolute ;
    top : 5%;
    width: 85%;
    height: 95%;
}
.main-text {
    color : #1e92c8 ;
    font-weight: 600;
    position: absolute;
    font-family: 'Raleway' ;
    left: 27%;
    top : 8% ;
    font-size: 4vw;
    z-index: 1;
    text-shadow: -2px 2px 5px #4987a6 ;
    font-size: 350%;
}
.date {
    padding-right: 4%;
}
.DOB {
    cursor: pointer;
    color : #1772c1 ;
    font-family: 'Raleway';
    font-weight: 600;
    position: relative;
    top : 0.9vw ;
    font-size: 1.9vw;
    width: 10%;
    left: 1%;
}
.Marital-selection {
    font-family: 'Raleway';
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 20px;
    padding-bottom: 4.5px;
}
.list a {
    cursor: pointer;
    text-align: center;
    display: block;
    padding-right: 12px;
    padding-top: 12px; 
    padding-bottom: 12px;
}
.Marital{
    padding: 11px;
    color : #9b9b9b ;
    font-size: 1.5vw;
    cursor: pointer;
    text-align: start;
    margin-left: 5px;
}
.form_register .list a:hover {
    background-color: #1772c1 ;
}

.edit-in-register {
    width: 10vw;
}
.edit-in-register:hover {
    background-color: #ffffff;
}
.selection-register {
    width: 50%;
    padding-bottom: 4.5px;
}

.empty {
    border : 2px red solid ;
}

.not-display {
    display : none ;
}
.empty-gender{
    position : relative ; 
    top : 15% ;
    left: 1.5%;
    display: block;
    color : red ;
}
.exist-id {
    transition: display 1s;
    display: block;
    position: absolute;
    left : 2% ;
    top : 23% ;
    color : red ;
}
.register-btn {
    background-color: #026fbb;
    color : #ffffff ;
    cursor: pointer;  
    font-family: "Raleway";
    width: 25%;
    height: 8%;
    font-size: calc(min(4vh , 2vw));
    border-radius: 100px;
}
.register-btn:hover {
    background-color: #d7d7d7 ;
    color : #026fbb ;
    transition: 0.5s;
}
